.hover {
  background-color: transparent;
  border: 1px solid #ffff;
  font-weight: bold;
  box-sizing: border-box;
  color: #ffff;
  padding: 0.5rem;
  border-radius: 6px;
}

.hover:hover {
  background-color: white;
  border-color: black;
  color: black;
}
